<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>le-tex publishing services GmbH</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>4E57F9042CBC23741169432FF3EE208F</string>
		<key>cover-image-path</key>
		<string>OEBPS/images/le-tex-logo.jpg</string>
		<key>package-file-hash</key>
		<string>D3A64109B3228EEB1589D881E14D764A</string>
		<key>publisher-unique-id</key>
		<string></string>
		<key>unique-id</key>
		<integer>-3162216497309240828</integer>
	</dict>
	<key>itemName</key>
	<string>CSS Compatibility Test Suite</string>
	<key>playlistName</key>
	<string>CSS Compatibility Test Suite</string>
</dict>
</plist>
